@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --color-primary: #c69963;
  --color-primary-dark: #bc8451;
  --color-secondary: #101d2c;
  --color-secondary-light: #2b2a89;
  --color-secondary-2: #3899b4;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;
  --color-dark: #1f1f1f;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "nunito", sans-serif;
  line-height: 1.4;
  color: var(--color-grey-dark-2); }

.container {
  margin: 3px; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }

::selection {
  background-color: transparent; }

section {
  scroll-snap-align: start; }

.about {
  padding: 15rem 10rem;
  display: grid;
  place-items: center;
  background-color: var(--grey-light-3);
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  margin-top: -10vh; }
  @media only screen and (max-width: 58.75em) {
    .about {
      padding: 12rem 7rem;
      margin-top: -7vh; } }
  @media only screen and (max-width: 51.875em) {
    .about {
      padding: 8rem 6rem; } }
  .about > * {
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg); }
  .about_icon {
    font-size: 2rem;
    color: #e96262; }
  .about-box {
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media only screen and (max-width: 58.75em) {
      .about-box {
        display: flex;
        flex-direction: column; } }
  .about_circle {
    flex: 0 0 20%;
    margin-right: 7rem; }
    @media only screen and (max-width: 58.75em) {
      .about_circle {
        margin-right: 0; } }
    .about_circleText {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-size: 2.5rem;
      color: var(--color-grey-dark-1);
      text-transform: capitalize;
      background-color: var(--grey-light-1);
      border-radius: 50%;
      padding: 5rem;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 58.75em) {
        .about_circleText {
          margin-bottom: 3rem; } }
  .about_description {
    flex: 1;
    font-size: 1.5rem;
    color: var(--color-grey-dark-1);
    text-transform: capitalize;
    word-spacing: .1rem; }
  .about_paragraph:not(:last-of-type) {
    margin-bottom: 1rem; }

.contact {
  padding: 2rem 0;
  background-image: linear-gradient(to right bottom, rgba(4, 20, 73, 0.8), rgba(7, 131, 164, 0.8)); }
  .contact > h2 {
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-grey-light-1); }
  .contact-row {
    max-width: 114rem;
    margin: 2rem auto; }
  .contact-block {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) -50%, transparent 50%, rgba(255, 255, 255, 0.9) 50%), url(../src/utils/bg-img2.png);
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start; }
    @media only screen and (max-width: 45em) {
      .contact-block {
        padding: 2rem;
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) -50%, transparent 40%, rgba(255, 255, 255, 0.9) 80%), url(../src/utils/bg-img2.png); } }
  .contact-main {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column; }
    .contact-main > h4 {
      font-size: 2.5rem;
      text-transform: capitalize;
      color: var(--color-secondary);
      margin: 1.5rem; }
  .contact-details > * {
    margin-bottom: 2rem; }
  .contact-details_text {
    font-size: 1.4rem;
    color: var(--color-secondary);
    text-transform: capitalize; }
    .contact-details_text-bd {
      font-size: 1.8rem;
      font-weight: 500; }
    .contact-details_text > * {
      display: block; }
  .contact-detailBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 1rem; }
  .contact-detailIcon {
    padding: 1rem;
    border: 2px solid var(--color-secondary-light);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 1.5rem; }
    .contact-detailIcon-logo {
      height: 3rem;
      width: 3rem;
      fill: var(--color-secondary-light); }
  .contact_form-group:not(:last-child) {
    margin-bottom: 2rem; }
  .contact_form-input {
    padding: 1.5rem 2rem;
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    width: 85%;
    display: block;
    transition: all .3s;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
    .contact_form-input-1 {
      padding: 1.5rem 2rem 5rem 1.5rem; }
      .contact_form-input-1::-webkit-input-placeholder {
        color: var(--grey-dark-3); }
    .contact_form-input::-webkit-input-placeholder {
      color: var(--grey-dark-3); }
    .contact_form-input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid var(--color-secondary-light); }
      .contact_form-input:focus:invalid {
        border-bottom: 3px solid rgba(250, 4, 4, 0.664); }
  .contact_form-label {
    font-size: 1.2rem;
    font-weight: 700;
    margin: .7rem 0 0 2rem;
    display: block;
    transition: all .3s; }
  .contact_form-input:placeholder-shown + .contact_form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .contact_form-btn {
    background-color: var(--color-secondary-light);
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: "josefin sans", Sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .3s; }
  .contact-warningText {
    font-size: 1.2rem;
    color: red;
    font-style: italic; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  transition: all .4s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn--green {
  background-color: var(--color-secondary-light);
  color: #fff; }

.btn--green::after {
  background-color: var(--color-secondary-light); }

.btn--animated {
  animation: moveInBotton .5s ease-out .75s;
  animation-fill-mode: backwards; }

@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(); } }

.footer {
  background-color: #292f3b;
  padding: 8rem; }
  .footer-p, .footer-copyright {
    font-size: 1.4rem;
    color: var(--color-grey-light-2);
    margin: 4rem auto 0 auto;
    text-align: center;
    width: 70%; }
  .footer_social-media {
    text-align: center;
    margin-top: 2rem; }
    .footer_social-media > *:not(:last-child) {
      margin-right: 2rem; }
  .footer_icon {
    height: 3rem;
    width: 3rem;
    color: var(--color-grey-light-2);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; }
    .footer_icon-twitter:hover {
      fill: #00ACEE;
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px); }
    .footer_icon-ln:hover {
      fill: #0077b5;
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px); }
    .footer_icon-wa:hover {
      fill: #1ebea5;
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px); }
    .footer_icon-lnsta:hover {
      fill: #8a3ab9;
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px); }
    .footer_icon-fb:hover {
      fill: #3b5998;
      transform: translateY(-2px);
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px); }

.nav {
  list-style: none;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:visited, .nav__link:link {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "josefin sans", Sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(125deg, #130f40 57%, #130f42 56%, transparent 105%), url(../src/utils/bg-img.jpg);
  background-size: cover; }
  @media only screen and (max-width: 45em) {
    .header {
      height: 95vh;
      background-image: linear-gradient(125deg, #130f40 20%, #130f42 56%, transparent 105%), url(../src/utils/bg-img.jpg); } }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 35.625em) {
      .header-nav {
        width: 85%;
        margin: 0 auto; } }
  .header-logo {
    height: 20rem;
    width: 20rem;
    margin-right: 30%;
    filter: hue-rotate(243deg); }
    @media only screen and (max-width: 45em) {
      .header-logo {
        height: 15rem;
        width: 15rem; } }
    @media only screen and (max-width: 39.375em) {
      .header-logo {
        height: 13rem;
        width: 13rem; } }
  .header-logoTxt {
    font-size: 2.7rem;
    font-weight: 600;
    font-family: auto;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--color-grey-light-1), var(--color-grey-light-2));
    color: transparent;
    background-clip: text;
    margin-right: 30%;
    cursor: pointer; }
  .header-bigText {
    margin: 8rem 0 2rem 0;
    color: var(--color-grey-light-1);
    font-size: 5rem;
    text-transform: capitalize;
    word-spacing: 0.3rem;
    letter-spacing: .2rem; }
    .header-bigText--animate {
      animation: fadeInUp .5s ease-out;
      animation-duration: .9s;
      -webkit-animation: fadeInUp .5s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .header-bigText {
        font-size: 4rem; } }
    @media only screen and (max-width: 35.625em) {
      .header-bigText {
        font-size: 3rem; } }
    @media only screen and (max-width: 25.625em) {
      .header-bigText {
        font-size: 2rem; } }
    .header-bigText-1 {
      display: block; }
  .header-text {
    position: absolute;
    top: 47%;
    left: 25%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin: 2rem 0 0 2rem; }
    @media only screen and (max-width: 45em) {
      .header-text {
        margin-left: 6rem; } }
    @media only screen and (max-width: 35.625em) {
      .header-text {
        margin-left: 9rem; } }
    @media only screen and (max-width: 25.625em) {
      .header-text {
        top: 45%;
        left: 20%; } }
  .header-p {
    display: flex;
    flex-direction: column;
    font-size: 1.85rem;
    color: var(--color-grey-light-2);
    text-transform: capitalize;
    word-spacing: .5rem; }
    @media only screen and (max-width: 56.25em) {
      .header-p {
        font-size: 1.5rem; } }
    .header-p > * {
      margin-bottom: 1rem; }
  .header-btn {
    margin-top: 1rem; }
    .header-btn-1 {
      border: 1px solid white;
      background-color: transparent;
      color: var(--color-grey-light-1);
      margin-right: 1rem;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s; }
      @media only screen and (max-width: 35.625em) {
        .header-btn-1 {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 26.5em) {
        .header-btn-1 {
          margin-bottom: 1.5rem; } }
      .header-btn-1:hover {
        background-color: #2b2a89; }
    .header-btn-2 {
      background-color: #2b2a89;
      border: none;
      padding: 1.5rem 3rem;
      color: white;
      text-transform: uppercase;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s; }
      .header-btn-2:hover {
        background-color: #130f40;
        border: 1px solid white; }
      @media only screen and (max-width: 35.625em) {
        .header-btn-2 {
          font-size: 1.2rem; } }

.nav-list {
  list-style: none; }
  @media only screen and (max-width: 35.625em) {
    .nav-list {
      display: none; } }

.nav-item {
  display: inline-block; }
  .nav-item:not(:last-child) {
    margin-right: 2.5rem; }

.nav-link {
  font-display: "josefin sans", Sans-serif;
  color: var(--grey-light-1);
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s; }
  .nav-link:link, .nav-link:active {
    padding: .5rem 0;
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: capitalize;
    font-size: 2.8rem; }
    @media only screen and (max-width: 45em) {
      .nav-link:link, .nav-link:active {
        font-size: 2.3rem; } }
    @media only screen and (max-width: 35.625em) {
      .nav-link:link, .nav-link:active {
        font-size: 1.7rem; } }
  .nav-link:hover {
    border-bottom: 3px solid #0595b0; }

.navigation {
  display: none;
  margin-left: 30%; }
  .navigation__checkbox {
    display: none; }
  @media only screen and (max-width: 35.625em) {
    .navigation {
      display: block; } }
  .navigation__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 5rem;
    right: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2000;
    border: 1px solid var(--color-secondary-2);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__icon {
    position: relative;
    margin-top: 2.2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: var(--grey-dark-1);
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  .navigation-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: radial-gradient(#221a86, #0b2f68);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__items {
    margin: 2rem; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
    display: inline-block;
    font-weight: 300;
    padding: 1rem 2rem;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #0b2f68;
    transform: translateX(1rem); }

.popup-flex {
  display: flex;
  justify-content: center; }

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0; }

.popup-center {
  position: absolute;
  width: 35%;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 2rem;
  background-image: linear-gradient(to right bottom, rgba(4, 20, 73, 0.8), rgba(7, 131, 164, 0.8));
  color: white; }

.popup--animate {
  animation: bounceInDown .5s ease-out .3s;
  -webkit-animation: bounceInDown .5s ease-out .3s; }

.popup--alert-red {
  background-color: #f04d4d; }

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }

.process {
  padding: 8rem 0;
  background-color: var(--grey-light-3); }
  .process_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
    width: 85%;
    margin: 0 auto; }
  .process_card {
    padding: 3rem;
    background-color: var(--color-grey-light-1);
    border: 1px solid var(--color-grey-light-3);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .process_card-diff > h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
      color: var(--color-grey-dark-1);
      margin-bottom: .5rem; }
    .process_card-diff > h4 {
      font-size: 1.3rem;
      text-transform: capitalize; }
  .process-img {
    padding: 4rem;
    background-color: var(--grey-light-2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: .5rem; }
  .process-logo {
    height: 5rem;
    width: 5rem;
    fill: var(--color-secondary-light); }
  .process-cardText {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-grey-dark-1);
    font-weight: bold;
    margin-bottom: .5rem; }
    .process-cardText > span {
      color: red; }
  .process-text {
    font-size: 1.4rem;
    text-align: center; }

.services {
  padding: 13rem 0;
  background-image: linear-gradient(to right bottom, #0e2354, rgba(14, 35, 84, 0.9)); }
  .services-cards {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto; }
    @media only screen and (max-width: 58.75em) {
      .services-cards {
        width: 95%; } }
    @media only screen and (max-width: 56.25em) {
      .services-cards {
        width: 100%; } }
    @media only screen and (max-width: 39.375em) {
      .services-cards {
        flex-direction: column; } }
  .services-headText {
    text-align: center; }
    .services-headText > h1 {
      font-size: 3.5rem;
      text-transform: capitalize;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--color-grey-light-1); }
    .services-headText > h3 {
      font-size: 2rem;
      font-family: inherit;
      margin-bottom: 2rem;
      text-transform: capitalize;
      color: var(--color-grey-light-2); }
      @media only screen and (max-width: 35.625em) {
        .services-headText > h3 {
          font-size: 1.5rem; } }
      .services-headText > h3 > span {
        display: block; }
  .services-card {
    background-color: var(--color-grey-light-1);
    color: var(--color-dark);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 51.875em) {
      .services-card {
        margin: 0 1.5rem; } }
    @media only screen and (max-width: 39.375em) {
      .services-card {
        margin: 1.5rem 7rem; } }
    .services-card > * {
      margin: 2rem; }
  .services-cardText {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: cursive; }
  .services-logo {
    height: 3rem;
    width: 3rem;
    fill: var(--grey-light-3); }
  .services-img {
    background-color: #2b2a89;
    padding: 3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }
  .services-btn {
    border: 1px solid dimgray;
    background-color: transparent;
    color: inherit;
    margin-right: 1rem;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; }
    .services-btn:hover {
      background-color: #130f40;
      border: 1px solid white;
      color: var(--color-grey-light-1); }
  .services-text {
    font-size: 1.8rem;
    color: #5d5757;
    text-transform: capitalize;
    font-family: auto; }
    @media only screen and (max-width: 39.375em) {
      .services-text {
        font-size: 1.5rem;
        text-align: center; } }

.testimonial {
  padding-top: 10rem;
  background-color: var(--grey-light-3); }
  .testimonial-container {
    width: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media only screen and (max-width: 22.25em) {
      .testimonial-container {
        width: 45%; } }
  .testimonial-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .testimonial-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem; }
    .testimonial-images > ul {
      list-style: none;
      display: flex;
      position: absolute;
      overflow: hidden;
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      box-shadow: 0 0 4rem rgba(0, 0, 10, 0.25); }
      .testimonial-images > ul > li {
        height: 15rem;
        width: 15rem; }
  .testimonial-img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: .7rem;
    border: 0.5rem solid var(--color-secondary-2); }
  .testimonial-content {
    width: 50rem;
    height: 20rem;
    display: flex;
    align-items: center;
    margin: 0 2rem; }
    @media only screen and (max-width: 22.25em) {
      .testimonial-content {
        width: 40rem;
        padding: 0;
        margin: 0; } }
    @media only screen and (max-width: 25.625em) {
      .testimonial-content {
        margin: 0; } }
    .testimonial-content > ul {
      position: absolute;
      overflow: hidden;
      width: 50rem;
      height: 12rem; }
      @media only screen and (max-width: 22.25em) {
        .testimonial-content > ul {
          width: 40rem; } }
      .testimonial-content > ul > li {
        color: var(--color-grey-dark-1);
        display: flex;
        align-items: center;
        position: absolute;
        opacity: 0; }
  .testimonial-inner {
    width: 50rem; }
    @media only screen and (max-width: 22.25em) {
      .testimonial-inner {
        width: 40rem; } }
    .testimonial-inner::after {
      content: "\201C";
      position: absolute;
      top: 45%;
      left: 86%;
      line-height: 1;
      font-size: 20rem;
      color: var(--grey-dark-3); }
      @media only screen and (max-width: 22.25em) {
        .testimonial-inner::after {
          left: 72%; } }
  .testimonial-comment {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    text-align: center; }
  .testimonial-name {
    font-size: 1.7rem;
    letter-spacing: .4rem;
    line-height: 1.8rem;
    color: var(--color-grey-dark-1);
    font-weight: 600;
    text-align: center;
    text-transform: capitalize; }
  .testimonial-title {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--color-grey-dark-1);
    text-align: center;
    text-transform: capitalize; }
  .testimonial-icon-div {
    display: flex;
    align-self: center;
    margin: 0 3rem; }
  .testimonial-btn {
    border: none;
    background-color: transparent;
    padding: 4rem 2rem;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; }
    @media only screen and (max-width: 75em) {
      .testimonial-btn {
        padding: 0;
        display: none; } }
  .testimonial-icon {
    height: 3rem;
    width: 3rem; }
  .testimonial-container:hover .testimonial-btn:hover {
    background-color: var(--color-grey-light-2); }

.work {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .work-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 39.375em) {
      .work-cards {
        flex-direction: column;
        align-items: center; } }
    .work-cards > *:not(:last-child) {
      margin-right: 1rem; }
  .work-photo {
    height: 40rem;
    width: 35rem;
    transform: scale(1);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s; }
    @media only screen and (max-width: 58.75em) {
      .work-photo {
        height: 35rem;
        width: 30rem; } }
    @media only screen and (max-width: 49.0625em) {
      .work-photo {
        height: 25rem;
        width: 20rem; } }
    .work-photo:hover {
      transform: scale(1.1) translateY(-2.5rem);
      filter: contrast(0.5) drop-shadow(0 1px 2px #797777) brightness(75%);
      -webkit-transform: scale(1.1) translateY(-2.5rem);
      -moz-transform: scale(1.1) translateY(-2.5rem);
      -ms-transform: scale(1.1) translateY(-2.5rem);
      -o-transform: scale(1.1) translateY(-2.5rem); }
    .work-photo-1 {
      height: 45rem;
      width: 45rem;
      transform: scale(1);
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1); }
      @media only screen and (max-width: 58.75em) {
        .work-photo-1 {
          height: 40rem;
          width: 40rem; } }
      @media only screen and (max-width: 49.0625em) {
        .work-photo-1 {
          height: 30rem;
          width: 30rem; } }
      .work-photo-1:hover {
        transform: scale(1.05);
        filter: contrast(0.5) drop-shadow(0 1px 2px #797777) brightness(75%);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05); }
  .work:hover .work-photo:not(:hover) {
    transform: scale(0.9); }
  @media only screen and (max-width: 45em) {
    .work-p {
      width: 85%;
      margin: 0 auto;
      text-align: center; } }

.mt-8 {
  margin-top: 8rem; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
